<hr>
<footer>
    <div>Hecho por RodrigoLV</div>
    <div>Portfolio</div>
    <div>© Copyright 2023 RodrigoLV</div>
</footer>

<style>
    footer{
        background-color: rgb(255,255,255);
        width: 100%;
        height: 65px;
        display:flex;
        align-items: center;
        justify-content: space-around;
    }
</style>