<header class="header">
    <img src="../../public/assets/images/logo-recipes.png" alt="logo-recipes-page" class="logo logo-recipes">
    <h1>Recetas para Todos</h1>
    <img src="../../public/assets/images/sun.png" class="logo logo-mode"/>
</header>
<hr>
<style>
    .header{
        display: grid;
        grid-template-columns: repeat(15,1fr);
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 5px;
    }
    h1{
        display: block;
        grid-column: 2/9;
    }
    .logo-recipes{
        width: 50px;
        height: 50px;
        margin: 5px;
        grid-column: 1/2;
    }
    .logo-mode{
        margin:auto;
        grid-column: 15/16;
    }
</style>